.site-header {
    background-color: #09ff27;
    color: rgb(7, 0, 1);
    height : 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content{
    margin : 10px ;
}
.profile-pic {
    border-radius: 50%;
    height: 200px;
    width : 200px;
    align-self: center;
    box-shadow: #244626 2px 5px 5px;
}
.youtube-link {
    color: rgb(0, 0, 0);
}
body{
margin :10;

}